@font-face {
    font-family: 'Noto Serif Display';
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/NotoSerifDisplay-Regular.ttf") format("truetype"),
     url("../../fonts/NotoSerifDisplay-Regular.woff") format("woff"),
    url("../../fonts/NotoSerifDisplay-Regular.eot") format("eot"),
    url("../../fonts/NotoSerifDisplay-Regular.svg") format("svg");
}

@font-face {
    font-family: 'Permanent Marker';
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/PermanentMarker-Regular.ttf") format("truetype"),
     url("../../fonts/PermanentMarker-Regular.woff") format("woff"),
    url("../../fonts/PermanentMarker-Regular.eot") format("eot"),
    url("../../fonts/PermanentMarker-Regular.svg") format("svg");
}

@font-face {
    font-family: 'Old Standard TT';
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/OldStandardTT-Regular.ttf") format("truetype"),
     url("../../fonts/OldStandardTT-Regular.woff") format("woff"),
    url("../../fonts/OldStandardTT-Regular.eot") format("eot"),
    url("../../fonts/OldStandardTT-Regular.svg") format("svg");
}