body {
    font-family: $primary-font;
    font-weight: 300;
}

.engagement_bg {
    background-color: black;
    color: white;
}
.approche {
    font-size: 2rem;
}


.menu {
    margin: 40px 30px;
    & li {
        font-size: 1.5rem;
    }
    & .engagement_li {
        & a {
            color: white;
        }   
    }
}

.copy_icon {
    font-size: 3rem;
    list-style-type: none;
    text-decoration: none;
    padding: 20px;
    transition: background-color .250 ease-in-out;
    & img {
        height: 100px;
        width: 100px;
        border-radius: 40%;
        transform: scale(1);
        transition: all .250s ease-in-out  ;
        &:hover {
            transform: scale(1.2);
        }
    }
} 

.engagement_text {
    @include artcle_format;
    animation: opacity .800s ease-in .200s normal;
}


.trend-pic img {
    margin: auto 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}


 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
   & .button_engagement  {
    
   } 
}
   


.flower_money {
    display: flex;
    justify-content: center;
    & img {
        margin: 50px auto;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
} 


.engagement_contact {
    background-color: rgb(255, 255, 255);
    height: 250px;
    display: flex;
    font-family: 'Oleo Script Swash Caps', Arial, Helvetica, sans-serif;
    & ul {
        flex-direction: column;
        justify-content: flex-start;
        li {
            font-size: 1.4rem;
            color: rgb(0, 0, 0);
            & a {
                &:hover {    
                        color: rgb(0, 217, 255);
                }
            }
            &:hover {
                background-color: white;
            }
        }
    }
    & .socials {
        margin-left: auto;
        height: 250px;
        display: flex;
        align-items: flex-end;
        
        & img {
            height: 50px;
            width: 50px;
            margin: 40px;
            justify-content: center;
            transform: scale(1);
            transition: all .200s ease-in-out ;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
                border-radius: 10px;
            }
        }
    }
}

