

.menu {
    margin: 40px 30px;
    & li {
        font-size: 1.5rem;
    }
}

.ux-titre {
    font-size: 2rem;
}


.ux_photo {
    display: flex;
    justify-content: center;
    margin: 150px 0;
    & img {
        height: 500px;
        width: 500px;
        border-radius: 50%;
    }
}