
.photo-container {

display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 50px 0;

& img {

    filter: blur(3px);
    height: 400px;
    width: 400px;
    margin: 180px ;
    border: 2px solid black;
    object-fit: cover;
    transition: all .350s ease-in-out;
    cursor:  pointer;
    &:hover {
        filter: blur(0px);
        height: 70%;
        width: 70%;
    }
}

}

.droits__title {
    margin: 50px;
}