
 
 body {
    font-family: $primary-font;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
}

header {
    text-align: center;
    margin: 10px 20px;
   
    & h1 {
        font-size: 3rem;
        margin: 50px 30px;
    }
}

.frame-sentence {
    background-color: $primary-color;
    margin-bottom: 20px;
    color: white;
}


.brand {
    color: rgb(0, 0, 0);
    background-position: 18%;
    position: absolute;
    top: 420px;
    left: 290px;
    height: 100px;
    border-radius: 50px;
    font-size: 4rem;
    margin: auto ;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.1cm;
    & em {
        color: rgb(42, 188, 255);
    }
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 40px 70px;
    & li {
        font-size: 2rem;
        padding: 15px 20px;
        font-weight: bold;
        margin: 15px;
        transition: all .250s ease-in-out ;
        & a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }
        }
        &:hover {
            font-weight: 900;
            cursor: pointer;
            border: 0 outset ;
            border-radius: 10px;
            background-color: rgb(118, 230, 253);
        }
    }
}

.presentation {
    display: flex;
    position: relative;
flex-direction: column;
margin:  100px;
    & img {
        position: relative;
        height: 500px;
        width: 400px;
        object-fit: cover;
        border-radius: 20px;
        margin-left: 20%;
    }
    &__sentence {
        position: absolute;
        line-height: 4rem;
        left: 650px;
        width: 500px;
        font-size: 2.5rem;
        font-weight: 600;
        word-wrap: normal;
    }
    & a {
        text-decoration: none;
        
    }
    
}

.question {
    @include question_article;
}

.relation {
    @include artcle_format;
    & em {
        font-size: 3rem;
    }
}


.moi {
    @include question_article;
}

.bloc_deux {
  & h2 {
    margin: 20px;
    text-align: center;
}
}



.saladin {
    @include artcle_format;
    & article {
        & em {
            font-size: 3rem;
        }
    }
}



