
 
 body {
    font-family: $primary-font;
    font-weight: 300;
    background-image: linear-gradient(45deg, rgb(82, 220, 255),rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 247, 0)  );
}

header {
    text-align: center;
    margin: 10px 20px;
    animation: opacity .800s ease-in 0s normal;
   
    & h1 {
        font-size: 3rem;
        margin: 50px 30px;
    }
}

h2 {
    text-align: center;
}

.frame-sentence {
    background-color: $primary-color;
    margin-bottom: 20px;
    color: white;
}

.copy_icon {
    font-size: 3rem;
    list-style-type: none;
    text-decoration: none;
    padding: 20px;
    transition: background-color .250 ease-in-out;
    & img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        transform: scale(1);
        transition: all .250s ease-in-out  ;
        &:hover {
            transform: scale(1.2);
        }
    }
} 

.brand {
    color: rgb(0, 0, 0);
    background-position: 18%;
    position: absolute;
    top: 420px;
    left: 420px;
    height: 100px;
    border-radius: 50px;
    font-size: 4rem;
    margin: auto ;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.1cm;
}

.logo_sc {

   
    margin: auto 0;
    & img {
        height: 150px;
        width: 150px;
        border-radius: 100%;
    }
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 40px 70px;
    & li {
        font-size: 2rem;
        padding: 15px 20px;
        font-weight: bold;
        margin: 15px;
        transition: all .250s ease-in-out ;
        & a {
            text-decoration: none;
            color: black;
            &:hover {
                color: white;
            }
        }
        &:hover {
            font-weight: 900;
            cursor: pointer;
            border: 0 outset ;
            border-radius: 10px;
            background-color: rgb(118, 230, 253);
        }
    }
}

.presentation {
    display: flex;
    position: relative;
flex-direction: row;
justify-content: flex-end;
margin:  100px;
animation: opacity .800s ease-in .500s normal forwards;
visibility: hidden;
    & img {
        height: 500px;
        width: 400px;
        object-fit: cover;
        border-radius: 20px;
    }    
        & .sentence {
            font-size: 3rem;
            padding: 15px;
            font-weight: 600;
            font-family: 'Noto Serif Display', Arial, Helvetica, sans-serif;
        }

& .medal-icon {
     position: absolute;
     height: 120px;
     width: 120px;
     top:280px;
     right: 150px;
}
    
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
    
   


.bloc_un {
    position: relative;
    visibility: hidden;
    animation: opacity .800s ease-in 1s forwards;
    margin-top: 100px;
    & .rocket {
        position: absolute;
        width: 150px;
        height: 150px;
        z-index: -1;
        left: 70px;
        top: 300px;
        border-radius: 30%;
        animation: translation 1s linear 0 infinite  normal;
    } 
}

.question {
    @include question_article;
}

.relation {
    @include artcle_format;
    & em {
        font-size: 3rem;
    }
}


.moi {
    @include question_article;
}

.bloc_deux {
    position: relative;
    visibility: hidden;
    animation: opacity .800s ease-in 1.5s forwards;
  & h2 {
    margin: 20px;
    text-align: center;
}
& .doc {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 20px;
    right:350px;
    border-radius: 30%;
    z-index: -1;
}
}



.saladin {
    @include artcle_format;
    & article {
        & em {
            font-size: 3rem;
        }
    }
    & .bourse {
        position: absolute;
        z-index: -1;
        height: 150px;
        width: 150px;
        bottom: 130px;
        right: 50px;
        border-radius: 30%;
    }
}

.screenshot-avis {

display: flex;
justify-content: center;

    & img {
        width: auto;
        margin: auto 0;
        object-fit: cover;
        margin-bottom: 100px;
    }
} 

.trophy {
 display: flex;
 justify-content: center;
    & img {
        margin:  50px 0;
        height: 150px;
        width: 150px;
    }
} 

.transition__titles {
    text-align: center;
    font-size: 1.4rem;
    &--succes {
        font-size: 1.5rem;
    }
}

.engagement_text {
    @include artcle_format;
    animation: opacity .800s ease-in .200s normal;
}


.flower_money {
    display: flex;
    justify-content: center;
    & img {
        margin: 50px auto;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
} 

.contact {
    background-color: rgb(0, 0, 0);
    height: 250px;
    display: flex;
    z-index: -100;
    visibility: hidden;
    animation: opacity .800s ease-in-out forwards;
    font-family: 'Oleo Script Swash Caps', Arial, Helvetica, sans-serif;
    & ul {
        flex-direction: column;
        justify-content: flex-start;
        li {
            font-size: 1.4rem;
            background-color: rgb(0, 0, 0);
            color: white;
            a {
                color: white;
                &:hover {
                    color: rgb(255, 247, 0);
                }
            }
        }
    } 
    & .socials_net {
        margin-left: auto;
        height: 250px;
        display: flex;
        z-index: 100;
        align-items: flex-end;
       
        & img {
            height: 50px;
            width: 50px;
            margin: 40px;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            transform: scale(1);
            transition: all .200s ease-in-out ;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
                border-radius: 10px;
            }
        }
    } 
}


.dots_goals {
    text-align: center;
    margin: 100px 0;
    & div {
        display: flex;
        margin: 50px 150px;
        & div {
            flex-direction: column;
        }
        & h3 {
            font-size: 1.4rem;
            margin: 30px;
        }
        & p {
            font-size: 1rem;
            font-weight: 600;
        }
        & img {
            height: 150px;
            width: 150px;
        }
    }
   
}